@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="~/css/about.css">
    <link href='https://fonts.googleapis.com/css?family=Kalam' rel='stylesheet'>
    <!--Social Media Icon-->
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

    <title>About Us</title>
</head>

<body>
    <div class="box title">
        <pre>Our Mission:
             To aid elderly in requesting for help from volunteers and 
             To streamline the assigning process for volunteers
        </pre>
    </div>

    <div class="first container-fluid">
        <div class="row">
            <div class="box elderlytest col"></div>
            <div class="info col">
                <div class="tm-background">
                    <h1 class="p-heading">Elderly Testimontials</h1>
                    <p class="p-testimonials">
                        I suffer from spinal cord injury and I need to go to the hospital for weekly check up, the volunteers from Helpderly are always there for me whenever i requested for help. Thanks, Mr Heng
                    </p>
                    <p class="p-testimonials">
                        I would like to thank you and many other volunteers for helping me when i am in distress . I found the volunteers in Helpderly to be very helpful, patient, kind, and efficient at all times. Regards, Madam Joan
                    </p>
                    <p class="p-testimonials">
                        I would like to thanks the volunteers in Helpderly for spending their free time to accompany me to hospital, Best, Madam Hong
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="second container-fluid">
            <div class="row">
                <div class="info col">
                    <div class="tm-background">
                        <h1 class="p-heading">Volunteer Testimonials</h1>
                        <p class="p-testimonials">
                            I choose to give my time by volunteering, as I want to offer hands-on support to people to make a real difference. Andy
                        </p>
                        <p class="p-testimonials">
                            I can honestly say that I get so much out of volunteering in Helpderly. I love helping people and feel i was born to care. James, freelancer
                        </p>
                        <p class="p-testimonials">
                            During COVID-19 its very difficult us to help the elderly and Helpderly help connect us with those who needs help. Cheers!, Thomas and friends
                        </p>
                    </div>
                </div>
                <div class="box volunteertest col"></div>
            </div>
        </div>
    </div>
    <!--Connect-->
    <div class="container-fluid padding">
        <div class="row text-center padding">
            <div class="col-12 social padding">
                <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
                <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </div>
</body>
