@{
    ViewData["Title"] = "Form";
}
<h1>@ViewData["Title"]</h1>

<p>Elderly Main Form</p>
<div class="container">
    <form id="helpForm" action=" " method="post">
        <h3>Elderly Help Form</h3>
        <fieldset>
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" required autofocus>
        </fieldset>
        <fieldset>
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" required>
        </fieldset>
        <fieldset>
            <label for="location">Location</label>
            <input type="text" id="location" required>
        </fieldset>
        <fieldset>
            <label for="description">Description</label>
            <input type="text" id="description" required>
        </fieldset>
        <fieldset>
            <label for="mobileNumber">Mobile Number</label>
            <input type="number" id="mobileNumber" required>
        </fieldset>
        <fieldset>
            <label for="startTime">Start Time</label>
            <input type="datetime-local" id="startTime" required>
        </fieldset>
        <fieldset>
            <label for="endTime">End Time</label>
            <input type="datetime-local" id="dateTime">
        </fieldset>
        <fieldset>
            <label for="additionalInfo">Additional Info</label>
            <input placeholder="Additional Info" type="text" id="additionalInfo">
        </fieldset>
        <fieldset>
            <button name="submit" type="submit" id="submit">Submit</button>
        </fieldset>
    </form>

    
</div>