@model FSD_Helpderly.Models.LoginViewModel

@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Login";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="~/css/Volunteers.css">
    <title>Login</title>
    <script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-analytics.js"></script>

</head>

<div class="login-form">
    <h1 class="PageTitle">Login</h1>

    <hr />
    <form asp-action="Login" method="post">
        <fieldset class="FormContent">
            <div class="form-group row">
                <div class="col-sm-auto col-md-12">
                    <input asp-for="EmailAddress" placeholder="Email Address" class="form-control" />
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-auto col-md-12">
                    <input asp-for="Password" placeholder="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-auto col-md-12">
                    <input type="submit" value="Login" class="btn btn-primary" />
                </div>
            </div>

            <span class="text-danger">@Html.ValidationMessage("CustomError")</span>
        </fieldset>
        <!--<a class="nav-link" asp-controller="Home" asp-action="Register">Register As A Volunteer Now!!!</a>-->
    </form>
</div>

