@model WEB_Assignment.Models.LoginViewModel

@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Login";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="">

    <title>Register</title>
    <script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-analytics.js"></script>
    <script src="js\Scripts.js" defer></script>

</head>
<h1 class="PageTitle">Login</h1>

<hr />
<form asp-action="Login" method="post">
    <fieldset class="FormContent">
        <div class="form-group row">
            <label asp-for="EmailAddress" class="font-weight-bold control-label"></label>
            <input asp-for="EmailAddress" class="form-control" />
            <span asp-validation-for="EmailAddress" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <label asp-for="Password" class="font-weight-bold control-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-sm-9 offset-sm-3">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </div>
        <span class="text-danger">@Html.ValidationMessage("CustomError")</span>
    </fieldset>
    <a class="nav-link" asp-controller="Register" asp-action="Index">Register As A Volunteer Now!</a>
</form>

