/* Title */
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    background: no-repeat url("../images/about.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#title {
    margin: 0px;
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    width: 100%;
    height: 1000px;
    margin: 0 auto;
}

.box {
    height: 100vh;
    width: 100%;
    display: table;
    display:flex;
}

.title {
    background: no-repeat url("../images/about.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 2;
}

.registerNow {
    background: no-repeat url("../images/about.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-attachment: fixed;
    z-index: 1;
    padding-bottom: 200px;
    padding-left: 250px;
    padding-right: 250px;
}

.elderlytest {
    background: no-repeat url("../images/elderly.jpg");
    background-size: cover;
    justify-content: center;
    z-index: 1;
}

.volunteertest {
    background: no-repeat url("../images/volunteer.jpg");
    background-size: cover;
    justify-content: center;
    object-fit: cover;
    z-index: 1;
}


h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    color: white;
    text-transform: uppercase;
}
pre {
    padding-top: 250px;
    color: black;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 500;
}

.title h1 {
    font-size: 100px;
    font-weight: 700;
    color: black;
    margin: 0px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    text-transform: uppercase;
    margin: 30px 200px 100px;
}


.registerNow h1 {
    width: 70%;
    position: absolute;
    top: 130vh;
    font-weight: 700;
    font-size: 68px;
    color: black;
    text-align: center;
}

.volunteertest p {
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
}

.first {
    background-color: transparent;
}

.second {
    background-color: transparent;
}

.tm-background {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 70px;
    display: inline-block;
}

.p-testimonials {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.1em;
    color: black;
    padding: 20px;
}

.p-heading {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 59px;
    /* identical to box height */
    text-align: center;
    color: black;
    padding: 20px;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Connect section*/
.social a {
    font-size: 4.5em; /*Enlarge icon*/
    padding: 3rem; /*padding == spacing*/
}

.fa-facebook {
    color: #3b5998;
}

.fa-twitter {
    color: #00aced;
}

.fa-linkedin {
    color: #0e76a8;
}

.fa-instagram {
    color: #517fa4;
}

.fa-youtube {
    color: #bb0000;
}

    .fa-facebook:hover, /*Icon Hover Color*/
    .fa-twitter:hover,
    .fa-linkedin:hover,
    .fa-instagram:hover,
    .fa-youtube:hover {
        color: #d5d5d5;
    }

@keyframes animate {
    from {
        background-position: 0 0;
        transform: translate(0, 0);
    }

    to {
        background-position: 100% 0;
    }
}