body {
    font-family: 'Montserrat', sans-serif;
    background: no-repeat url("../images/Elderly2.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.form-btn {
    border-radius: 20px;
    border: black solid 1px;
    padding: 10px 30px 10px 30px;
    background-color: Highlight;
}

.PageTitle {
    text-align: center;
    padding: 20px;
}

.form-group {
    text-align: center !important;
}

table {
    margin: auto;
    max-width: 1450px !important;
    text-align: center;
}

.btn-div {
    position: absolute;
    right: 18%;
    left: 18%;
}

input {
    min-width: 150px !important;
}

label {
    min-width: 150px !important;
}

select {
    min-width: 150px !important;
}

button {
    display: inline-block;
}
.box {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 40px;
}
