@model FSD_Helpderly.Models.OrganizationRegister

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Kalam' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="~/css/Volunteers.css">
    <title>Register Organization</title>
    <script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-analytics.js"></script>
</head>

<div class="register-form">
    <h1 class="PageTitle">Organization Registration</h1>

    <hr />
    <form asp-controller="Admin" asp-action="OrganizationRegister">
        <fieldset class="FormContent">
            <div class="form-group row">
                <label asp-for="OrganizationName" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 col-md-9">
                    <input asp-for="OrganizationName" class="form-control" id="organizationname" />
                    <span asp-validation-for="OrganizationName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Address" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 col-md-9">
                    <input asp-for="Address" class="form-control" id="address" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="TelNo" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 col-md-9">
                    <input asp-for="TelNo" class="form-control" id="telNo" onKeyPress="if(this.value.length==8) return false;" />
                    <span asp-validation-for="TelNo" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Email" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 col-md-9">
                    <input asp-for="Email" class="form-control" id="email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Password" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 col-md-9">
                    <input asp-for="Password" type="password" class="form-control" id="password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-auto col-md-12">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
            <span style="color:red;">@TempData["Message2"]</span>
        </fieldset>
    </form>
</div>
